= simple_form_for episode, remote: true do |f|
  = f.input :title
  = f.input :subtitle
  = f.input :author, value: podcast.author
  = f.input :summary
  = f.input :image, as: :attachment, value: podcast.image
  = f.input :enclosure, as: :attachment
  = f.input :duration
  = f.input :published_at

  .controls
    = f.submit 'Save'
