= simple_form_for podcast do |f|
  = f.input :title
  = f.input :link
  = f.input :language
  = f.input :copyright
  = f.input :subtitle
  = f.input :author
  = f.input :description
  = f.input :email, as: :email
  = f.input :image, as: :attachment
  = f.input :categories

  .controls
    = f.submit 'Save'
    - unless f.object.new_record?
      = link_to 'Deploy this Podcast', deploy_podcast_path(f.object), class: 'large button success'
