= title podcast.title

.information.row
  = render 'form'

.episodes.row
  .large-12.columns
    %table
      %thead
        %tr
          %th Title
          %th Duration
          %th
            = link_to 'Upload', new_podcast_episode_path(podcast), class: 'button secondary'

      %tbody
        - unless podcast.episodes.any?
          %tr.none
            %td{ colspan: 3 }
              %p No episodes available.
        - podcast.episodes.in_sequence.each do |episode|
          %tr.episode
            %td.title= episode.title
            %td.duration= episode.duration
            %td.controls
              %ul
                %li.edit= link_to 'Edit', episode, class: 'button'
                  %li.destroy= link_to 'Delete', episode, remote: true, method: :delete, class: 'button warning'
