<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
  <channel>
    <title><%= podcast.title %></title>
    <link><%= podcast.link %></link>
    <language><%= podcast.language %></language>
    <copyright><%= podcast.copyright %></copyright>

    <itunes:subtitle><%= podcast.subtitle %></itunes:subtitle>
    <itunes:author><%= podcast.author %></itunes:author>
    <itunes:summary><%= podcast.description %></itunes:summary>

    <description><%= podcast.description %></description>

    <itunes:owner>
      <itunes:name><%= podcast.author %></itunes:name>
      <itunes:email><%= podcast.email %></itunes:email>
    </itunes:owner>

    <itunes:image href="<%= podcast.image_url %>" />

    <% podcast.categories.each do |category| %>
      <itunes:category text="<%= category %>" />
    <% end %>

    <% podcast.episodes.in_sequence.map(&:decorate).each do |episode| %>
      <item>
        <title><%= episode.title %></title>
        <itunes:author><%= episode.author %></itunes:author>
        <itunes:subtitle><%= episode.subtitle %></itunes:subtitle>
        <itunes:summary><![CDATA[<%= episode.summary %>]]></itunes:summary>
        <itunes:image href="<%= episode.image_url %>" />
        <enclosure url="<%= episode.download_url %>" length="<%= episode.enclosure.size %>" type="<%= episode.enclosure.content_type %>" />
        <guid><%= episode.download_url %></guid>
        <pubDate><%= episode.published_at %></pubDate>
        <itunes:duration><%= episode.duration %></itunes:duration>
      </item>
    <% end %>
  </channel>
</rss>
