= title podcast.title

#podcast
  .title
    %h2 Edit
    = link_to 'Deploy', deploy_podcast_path(podcast), class: 'large deploy button success'

  .details
    = render 'form'

  #episodes
    %h2 Episodes

    - cache cache_key_for_episodes(podcast) do
      %table
        %thead
          %tr
            %th.title Title
            %th.duration Duration
            %th.controls
              = link_to_modal 'Upload', new_podcast_episode_path(podcast), class: 'upload button secondary'

        %tbody
          - podcast.episodes.order(:published_at).each do |episode|
            - cache episode do
              %tr{ id: "episodes:#{episode.id}", itemid: episode.id }
                %td.title= link_to episode.title, episode
                %td.duration= episode.duration
                %td.controls
                  %nav
                    = link_to 'Download', episode.enclosure.url, class: 'download button'
                    = link_to_modal 'Edit', episode, class: 'edit button'
                    = link_to 'Delete', episode, class: 'delete button', method: :delete
