!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? "#{content_for(:title)} | Shoutout" : "Shoutout"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header{ data: { 'turbolinks-permanent' => true } }
      %nav.top-bar{ data: { topbar: true }, role: 'navigation' }
        %ul.title-area
          %li.name
            %h1= link_to 'Shoutout', root_path
      - flash.each do |type, message|
        #messages{ data: { 'turbolinks-temporary' => true } }
          %div{ data: { alert: true }, class: "#{type} alert-box" }
            = message
            = link_to '&times;'.html_safe, '#', class: 'close'

    %main.row
      .large-12.columns
        = yield

    #dialog.reveal-modal{ data: { reveal: true, 'turbolinks-permanent' => true } }
      / This is where the modal content goes.
